<?php

$titlePage="Print Form";

define("base", $_SERVER['DOCUMENT_ROOT']."/app/resources/views/layouts/");

require base.'base/only-header.view.php';

foreach($arData as $data):

?>

<body class="print-area">
    <table width='790' cellpadding='0' cellspacing='0' style="width:790px;padding:20px;margin-bottom:10px;">
        <tbody>
            <tr>
                <td>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td><img src="/public/image/vector-SNC-logo.fw_.png" alt="logo" width=100 height=100></td>
                                <td style="text-align:right;padding-right:15px">Gandaria 8 Office, 21 fl Gandaria City Complex,<br>Jl. Sultan Iskandar Muda,<br>Jakarta 12240 Indonesia<br>Telp: 021 29036562</td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td style="text-align:center;"><h3><strong>Activity report</strong></h3></td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                                        <tbody>
                                            <tr style="border:1px solid;">
                                                <td style="padding:0 20px 0 10px;width:20%;border-right:1px solid">Customer</td>
                                                <td style="padding-left:10px;" colspan=3><?= strtoupper($data->customer); ?></td>
                                            </tr>
                                            <tr style="border:1px solid;">
                                                <td style="padding:0 20px 0 10px;width:20%;border-right:1px solid">Project name</td>
                                                <td style="padding-left:10px;" colspan=3><?= $data->project_name; ?></td>
                                            </tr>
                                            <tr style="border:1px solid;">
                                                <td style="padding:0 20px 0 10px;width:20%;border-right:1px solid">Prepared by</td>
                                                <td style="padding-left:10px;border-right:1px solid;">SENTRA NETCOMINDO</td>
                                                <td style="padding-left:10px;border-right:1px solid;">Preparation date</td>
                                                <td style="padding-left:10px;"><?= $data->activity_date ?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td></td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td><h4><strong>Activity detail</strong></h4></td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                                        <tbody>
                                            <tr style="border:1px solid;">
                                                <td style="padding:0 20px 0 10px;width:20%;border-right:1px solid">Location/Site</td>
                                                <td style="padding-left:10px;"><?= strtoupper($data->customer) ?></td>
                                            </tr>
                                            <tr style="border:1px solid;vertical-align:top;" height="120px;">
                                                <td style="padding:0 20px 0 10px;width:20%;border-right:1px solid">Project name</td>
                                                <td style="padding-left:10px;"><?= $data->activity ?></td>
                                            </tr>
                                    
                                        </tbody>
                                    </table>
                                </td>
                                <td></td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td><h4><strong>Activities planned for next reported period</strong></h4></td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                                        <thead>
                                            <tr>
                                                <th style="padding-left:10px;border:1px solid">Activities</th>
                                                <th style="padding-left:10px;border:1px solid">Target completed</th>
                                                <th style="padding-left:10px;border:1px solid">Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border:1px solid;vertical-align:top;" height="120px;">
                                                <td style="padding-left:10px;border:1px solid"><?= $data->next_activity ?></td>
                                                <td style="padding-left:10px;border:1px solid">12 Agustus 2017</td>
                                                <td style="padding-left:10px;border:1px solid">Set connection that allow/deny to access hsm</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td></td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;margin-top:20px;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td><h4><strong>Report approval</strong></h4></td>
                            <tr>
                        </tbody>
                    </table>
                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width='100%' cellpadding='0' cellspacing='0' style="width:100%;padding-bottom:20px">
                                        <thead>
                                            <tr>
                                                <th style="padding-left:10px;border:1px solid">Name/title</th>
                                                <th style="padding-left:10px;border:1px solid">Name/title</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border:1px solid;vertical-align:top;">
                                                <td style="padding-left:10px;border:1px solid"><?= $data->created_by ?></td>
                                                <td style="padding-left:10px;border:1px solid">Hermawan</td>
                                            </tr>
                                            <tr style="border:1px solid;vertical-align:top;" height="80px;">
                                                <td style="padding-left:10px;border:1px solid"><?= $data->activity_date ?></td>
                                                <td style="padding-left:10px;border:1px solid"><?= $data->activity_date ?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

<?php
    endforeach;
?>

    <button type="button" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>

</body>
</html>