<?php

$titlePage="Delivery order";

define("base", $_SERVER['DOCUMENT_ROOT']."/app/resources/views/layouts/");

require base.'base/only-header.view.php';

$priceTotal=0;
$approveSign=false;

foreach($doData as $data):

?>
<style>
.print-area .form{
    width:790px;
}

tr{
    height:25px;
}

</style>

<body class="print-area">
    <div class="form">
        <table class="form-header" width='790' cellpadding='0' cellspacing='0' style="padding:20px;margin-bottom:10px;" >
            <tr>
                <td rowspan='2'><img src="/public/upload/<?= $ownCompany[0]->logo; ?>" alt="logo" width=100 height=100></td>
                <td class="text-right"><strong>Office</strong></td>
            </tr>
            <tr>
                <td class="text-right"><?= $ownCompany[0]->name."<br>".$ownCompany[0]->address."<br>Telp:". $ownCompany[0]->phone."<br>".$ownCompany[0]->email; ?></td>
            </tr>
        </table>
        
        <div class="form-body" id="reimburse-form-body">
            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px;">
                <tbody>
                    <tr>
                        <td style="text-align:center;"><h3><strong><?= strtoupper($titlePage); ?></strong></h3></td>
                    </tr>
                </tbody>
            </table>
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px;border:1px solid" >
                <tbody>
                    <tr>
                        <td width=50% style="border-right:1px solid; border-bottom:1px solid; padding: 0 20px 0 10px;" >SUPPLIER</td>
                        <td width=50% style="border-right:1px solid; border-bottom:1px solid; padding: 0 20px 0 10px;" >BUYER</td>
                    </tr>
                    <tr>
                        <td width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" >
                            <table cellpadding='0' cellspacing='0' >
                                <tbody>
                                    <tr><td>DO: <?= $data->do_number; ?></td></tr>
                                    <tr><td>DO DATE: <?= $data->do_date; ?></td></tr>
                                    <tr><td><?= makeFirstLetterUpper($data->supplier); ?></td></tr>
                                    <tr><td><?= makeFirstLetterUpper($data->saddress); ?></td></tr>
                                    <tr><td>Telp/Fax: <?= $data->sphone; ?> / <?= $data->sfax; ?></td></tr>
                                    <tr><td>PIC: <?= makeFirstLetterUpper($data->pic_supplier); ?></td></tr>                                  
                                </tbody>
                            </table>
                        </td>
                        <td width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" >
                            <table cellpadding='0' cellspacing='0'>
                                <tbody>
                                    <tr><td>PO: <?= $data->po_number; ?></td></tr>
                                    <tr><td>PO DATE: <?= $data->po_date; ?></td></tr>
                                    <tr><td><?= makeFirstLetterUpper($data->buyer); ?></td></tr>
                                    <tr><td><?= makeFirstLetterUpper($data->baddress); ?></td></tr>
                                    <tr><td>Telp/Fax: <?= $data->bphone; ?> / <?= $data->bfax; ?></td></tr>
                                    <tr><td>PIC: <?= makeFirstLetterUpper($data->pic_buyer); ?></td></tr>
                                </tbody>
                            </table>    
                        </td>                        
                    </tr>
                </tbody>
            </table>
            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px;">
                <tbody>
                    <tr>
                        <td><h4><strong>PERINCIAN DAFTAR ITEM</strong></h4></td>
                    </tr>
                </tbody>
            </table>
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px; margin-bottom:10px;" >
                <thead>
                    <tr>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Part number</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Description</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >QTY</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($receivedItems as $data2):?>
                        <tr>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= ($data2->part_number==null||empty($data2->part_number))?"-":$data2->part_number; ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= $data2->product; ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= $data2->quantity; ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= ($data2->received_at==null||empty($data2->received_at))?"-":$data2->received_at; ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>            
            </table>
            
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px; margin-bottom:10px;border:1px solid" >
                <thead>
                    <tr>
                        <th width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" >Delivery and billing address</th>
                        <th width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" >Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" ><?= makeFirstLetterUpper($data->saddress); ?></td>
                        <td width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" ><?= ($data->remark==null||empty($data->remark))?"-":makeFirstLetterUpper($data->remark); ?></td>    
                    </tr>
                </tbody>
            </table>
            
            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px">
                <tbody>
                    <tr>
                        <td>
                            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px">
                                <thead>
                                    <tr>
                                        <th style="padding-left:10px;border:1px solid">Delivered By</th>
                                        <th style="padding-left:10px;border:1px solid">Received By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border:1px solid;vertical-align:top;">
                                        <td width=50% style="padding-left:10px;border:1px solid"><?= strtoupper($data->delivered_by); ?></td>
                                        <td width=50% style="padding-left:10px;border:1px solid"><?= strtoupper($data->received_by); ?></td>
                                    </tr>
                                    <tr style="border:1px solid;vertical-align:top;height:80px;">
                                        <td width=50% style="padding-left:10px;border:1px solid">
                                            <!-- TANDA TANGAN -->
                                        </td>
                                        <td width=50% style="padding-left:10px;border:1px solid">
                                            <!-- TANDA TANGAN -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <button type="button" onclick="window.print()">Print</button>

</body>
<?php endforeach; ?>
</html>