<?php

$titlePage="Print Form";

define("base", $_SERVER['DOCUMENT_ROOT']."/app/resources/views/layouts/");

require base.'base/only-header.view.php';

$priceTotal=0;
//is already approved?
$approved=true;

foreach($quoData as $data):
?>
<style>
.print-area .form{
    width:790px;
}

tr{
    height:25px;
}
</style>

<body class="print-area">
    <div class="form">
        <table class="form-header" width='790' cellpadding='0' cellspacing='0' style="padding:20px;margin-bottom:10px;" >
            <tr>
                <td rowspan='2'><img src="/public/upload/<?= $ownCompany[0]->logo; ?>" alt="logo" height=100></td>
                <td class="text-right"><strong>Office</strong></td>
            </tr>
            <tr>
                <td class="text-right"><?= $ownCompany[0]->name."<br>".$ownCompany[0]->address."<br>Telp:". $ownCompany[0]->phone."<br>".$ownCompany[0]->email; ?></td>
            </tr>
        </table>
        <br>
        <div class="form-body" id="quotation-form-body">
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px;border:none" >
                <tbody>
                    <tr><td><?= $data->quo_date; ?></td></tr>
                    <tr><td></td></tr>
                    <tr><td><strong>Ref number: <?= (isset($_GET['revision']) && !empty($_GET['revision']))?$data->quo_number."/Rev".$_GET['revision']:$data->quo_number ?></strong></td></tr>
                    <tr><td>Att : <?= $data->pic_buyer; ?><br><?= $data->buyer; ?><br><?= $data->baddress; ?></td></tr>
                    <tr><td></td></tr>
                    <tr><td><strong>Re :  Quotation for Renewal ProtectServer SafeNet</strong></td></tr>
                </tbody>
            </table>
            <br>
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px;border:none" >
                <tbody>
                    <tr><td>Dear <?= $data->pic_buyer; ?>,</td></tr>
                    <tr><td>Following  your  company  requirement  for Renewal ProtactServer SafeNet, We are pleased to submit the quotation for the item below:</td></tr>
                </tbody>
            </table>
            <br>
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px; margin-bottom:10px;" >
                <thead>
                    <tr>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Part Number</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Product</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Quantity</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Price unit</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Discount(%)</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Price total</th>
                    </tr>
                </thead>
                    
                <?php foreach($quoDetailData as $data1): $item=(100-$data1->item_discount)*$data1->total*0.01; $priceTotal+=$item; if($data1->status!=1){$approved=false;}?>
                    <tr class="quo-item" data-item=<?= $data1->id; ?>>
                        <td style="border:1px solid; padding: 0 20px 0 10px;"  data-item="part_number" data-item-val=<?= $data1->part_number; ?>><?= $data1->part_number; ?></td>
                        <td style="border:1px solid; padding: 0 20px 0 10px;"  data-item="product" data-item-val=<?= $data1->pid; ?>><?= $data1->product; ?></td>
                        <td style="border:1px solid; padding: 0 20px 0 10px;"  data-item="quantity"><?= $data1->quantity; ?></td>
                        <td style="border:1px solid; padding: 0 20px 0 10px;"  data-item="price_unit"><?= formatRupiah($data1->price_unit); ?></td>
                        <td style="border:1px solid; padding: 0 20px 0 10px;"  data-item="item_discount"><?= $data1->item_discount; ?></td>
                        <td style="border:1px solid; padding: 0 20px 0 10px;"  data-item="total" class="text-right"><?= formatRupiah($item); ?></td>
                    </tr>
                <?php endforeach; ?>
                    <tr><td style="border:none; padding: 0 20px 0 10px;" colspan=4></td><td style="border:1px solid; padding: 0 20px 0 10px;">Total</td><td style="border:1px solid; padding: 0 20px 0 10px;" class="text-right" ><?= formatRupiah($priceTotal); ?></td></tr>
                    <tr><td style="border:none; padding: 0 20px 0 10px;" colspan=4></td><td style="border:1px solid; padding: 0 20px 0 10px;">PPN <?= $data->ppn; ?>%</td><td style="border:1px solid; padding: 0 20px 0 10px;"  class="text-right"><?php $ppn=$priceTotal*($data->ppn/100); echo formatRupiah($ppn); ?></td></tr>
                    <tr><td style="border:none; padding: 0 20px 0 10px;" colspan=4></td><td style="border:1px solid; padding: 0 20px 0 10px;">Grand Total</td><td style="border:1px solid; padding: 0 20px 0 10px;"  class="text-right"><strong><?= formatRupiah($priceTotal+$ppn); ?></strong></td></tr>
            </table>
            <br>
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px;border:none" >
                <tbody>
                   <!--  <tr><td>Term & Condition :<br>1. This quotation is valid until November 24 2017<br>2. Price is subjected to 10% VAT (PPN)<br>3. Payment 30 Days after receive invoice </td></tr> -->
                   <tr><?= ($data->remark==null || empty($data->remark))?"-":$data->remark; ?></td></tr> 
                   <tr><td>Please feel free to contact us for further information. Thank you.</td></tr>
                </tbody>
            </table>
            <br>
            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px;border:none">
                <tbody>
                    <tr>
                        <td>
                            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px">
                                <thead>
                                    <tr>
                                        <th style="padding-left:10px;">DISETUJUI OLEH</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="vertical-align:top;">
                                        <td style="padding-left:10px;"><?= strtoupper($data->approved_by); ?> &nbsp; - &nbsp; <?= $data->approved_at; ?></td>
                                    </tr>
                                    <tr style="vertical-align:top;height:80px;">
                                        <td style="padding-left:10px;">
                                            <!-- TANDA TANGAN -->
                                            <?php if($approved==true): ?>
                                                <?php if($data->approverSign != null): ?>
                                                    <img class="signature" src="/public/upload/<?= $data->approverSign; ?>" >
                                                <?php else: ?>
                                                    <label>TTD belum diupload</label>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <label>Belum semua item disetujui</label>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <button type="button" onclick="window.print()">Print</button>

</body>
<?php endforeach; ?>
</html>