<?php

$titlePage="Receipt";

define("base", $_SERVER['DOCUMENT_ROOT']."/app/resources/views/layouts/");

require base.'base/only-header.view.php';

$priceTotal=0;
$approveSign=false;

foreach($receiptData as $data):

?>
<style>
.print-area .form{
    width:790px;
}

tr{
    height:25px;
}

</style>

<body class="print-area">
    <div class="form">
        <table class="form-header" width='790' cellpadding='0' cellspacing='0' style="padding:20px;margin-bottom:10px;" >
            <tr>
                <td rowspan='2'><img src="/public/upload/<?= $ownCompany[0]->logo; ?>" alt="logo" height=100></td>
                <td class="text-right"><strong>Office</strong></td>
            </tr>
            <tr>
                <td class="text-right"><?= $ownCompany[0]->name."<br>".$ownCompany[0]->address."<br>Telp:". $ownCompany[0]->phone."<br>".$ownCompany[0]->email; ?></td>
            </tr>
        </table>
        
        <div class="form-body" id="reimburse-form-body">
            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px;">
                <tbody>
                    <tr>
                        <td style="text-align:center;"><h3><strong><?= $titlePage; ?></strong></h3></td>
                    </tr>
                    <tr>
                        <td style="text-align:center;"><h4><?= $data->receipt_number; ?></h4></td>
                    </tr>
                </tbody>
            </table>
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px;border:1px solid" >
                <tbody>
                    <tr>
                        <td width=50% style="border-right:1px solid; border-bottom:1px solid; padding: 0 20px 0 10px;" >SUPPLIER</td>
                        <td width=50% style="border-right:1px solid; border-bottom:1px solid; padding: 0 20px 0 10px;" >BUYER</td>
                    </tr>
                    <tr>
                        <td width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" >
                            <table cellpadding='0' cellspacing='0' >
                                <tbody>
                                    <tr><td><?= makeFirstLetterUpper($data->supplier); ?></td></tr>
                                    <tr><td><?= makeFirstLetterUpper($data->saddress); ?></td></tr>
                                    <tr><td>Telp: <?= $data->sphone; ?></td></tr>                               
                                </tbody>
                            </table>
                        </td>
                        <td width=50% style="border-right:1px solid; padding: 0 20px 0 10px;" >
                            <table cellpadding='0' cellspacing='0'>
                                <tbody>
                                    <tr><td><?= makeFirstLetterUpper($data->buyer); ?></td></tr>
                                    <tr><td><?= makeFirstLetterUpper($data->baddress); ?></td></tr>
                                    <tr><td>Telp: <?= $data->bphone; ?></td></tr>
                                </tbody>
                            </table>    
                        </td>                        
                    </tr>
                </tbody>
            </table>
            <table width='790' cellpadding='0' cellspacing='0' style="padding-bottom:20px;">
                <tbody>
                    <tr>
                        <td><h4><strong>PERINCIAN ITEM</strong></h4></td>
                    </tr>
                </tbody>
            </table>
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px; margin-bottom:10px;" >
                <thead>
                    <tr>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Part number</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Description</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >QTY</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Price unit</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Discount</th>
                        <th style="border:1px solid; padding: 0 20px 0 10px;" >Total price</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($receiptItems as $data2):  $item=(100-$data2->discount)*$data2->quantity*$data2->price*0.01; $priceTotal+=$item; ?>
                        <tr>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= ($data2->part_number=='')?'-':$data2->part_number; ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= $data2->product; ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= $data2->quantity; ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= formatRupiah($data2->price); ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;"><?= $data2->discount; ?></td>
                            <td style="border:1px solid; padding: 0 20px 0 10px;" class="text-right"><?= formatRupiah($item); ?></td>
                        </tr>
                    <?php endforeach; ?>
                        <tr><td style="border:none; padding: 0 20px 0 10px;" colspan=4></td><td style="border:1px solid; padding: 0 20px 0 10px;">Total</td><td style="border:1px solid; padding: 0 20px 0 10px;" class="text-right" ><?= formatRupiah($priceTotal); ?></td></tr>
                        <tr><td style="border:none; padding: 0 20px 0 10px;" colspan=4></td><td style="border:1px solid; padding: 0 20px 0 10px;">PPN <?= $data->ppn; ?>%</td><td style="border:1px solid; padding: 0 20px 0 10px;"  class="text-right"><?php $ppn=$priceTotal*($data->ppn/100); echo formatRupiah($ppn); ?></td></tr>
                        <tr><td style="border:none; padding: 0 20px 0 10px;" colspan=4></td><td style="border:1px solid; padding: 0 20px 0 10px;">Grand Total (<?= $data->currency; ?>)</td><td style="border:1px solid; padding: 0 20px 0 10px;"  class="text-right"><strong><?= formatRupiah($priceTotal+$ppn); ?></strong></td></tr>
                </tbody>            
            </table>
            
            <table width='790' cellpadding='0' cellspacing='0' style="padding:20px; margin-bottom:10px;border:1px solid" >
                <thead>
                    <tr>
                        <th width=100% style="border-right:1px solid; padding: 0 20px 0 10px;" >Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width=100% style="border-right:1px solid; padding: 0 20px 0 10px;" ><?= ($data->remark==null||empty($data->remark))?"-":makeFirstLetterUpper($data->remark); ?></td>    
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <hr>
    <button type="button" onclick="window.print()">Print</button>

</body>
<?php endforeach; ?>
</html>