<?php

$titlePage="Print Form";

define("base", $_SERVER['DOCUMENT_ROOT']."/app/resources/views/layouts/");

require base.'base/only-header.view.php';
?>
<style>
.print-area .form{
    width:790px;
}

.print-area .form .form-header{
    width:790px;
}

.print-area .form .form-header tr td{
    padding:5px 10px;
    border:1px solid #000 !important;
}

.print-area .form .no-border td{
    padding-right:30px;
}

.print-area .form .form-footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:30px 10px 10px;
    border:1px solid;
    border-top:none;
}

.print-area .form .form-body{
    border:1px solid;
    border-bottom:none;
    padding:0 10px;
}
</style>
<body class="print-area">
    <div class="form">
        <table class="form-header">
            <tr>
                <td rowspan='2'><img src="/public/image/vector-SNC-logo.fw_.png" alt="logo" width=100 height=100></td>
                <td>Workshop</td>
                <td>Office</td>
            </tr>
            <tr>
                <td>Jl. Martimbang raya No. 30 <br>Kebayoran Baru - Jakarta Selatan,<br>Telp: 021 739 9554</td>
                <td>Gandaria 8 Office, 21 fl Gandaria City Complex,<br>Jl. Sultan Iskandar Muda,<br>Jakarta 12240 Indonesia<br>Telp: 021 29036562</td>
            </tr>
        </table>
        
        <div class="form-body" id="receive-form-body">
            <h2 class="text-center"></h2>
            <br>
            <table class="no-border">
                <?php foreach($receiveData as $data): ?>
                    <tr><td>Hari/tanggal</td><td><?= $data->receive_date; ?></td></tr>
                    <tr><td>Dari</td><td><?= ucfirst($data->submitted); ?></td></tr>
                    <tr><td>Diterima</td><td><?= ucfirst($data->received); ?></td></tr>
                <?php endforeach; ?>
                <tr>
                    <td valign=top>Keterangan</td>
                    <td>
                    <?php foreach($assets as $asset): ?>
                        <li><?= $asset->name; ?>&nbsp; - &nbsp;<?= $asset->serial_number; ?>&nbsp; - &nbsp;<?= $asset->asset_condition; ?></li>
                    <?php endforeach; ?>
                    <td>
                </tr>
            </table>          
        </div>
        
        <div class="form-footer">
            <div class="no-list-style">
                <li class="text-center">Diserahkan</li>
                <br>
                <br>
                <li class="text-center">(____________________)</li>
            </div>
            <div class="no-list-style">
                <li class="text-center">Diterima</li>
                <br>
                <br>
                <li class="text-center">(____________________)</li>
            </div>
        </div>
    </div>

    <button type="button" onclick="window.print()">Print</button>

</body>
</html>